.lager-image{
    display: block;
    margin: auto;
    border-radius: 10%;
}

.text{
    padding: 100px;
    font-size: 22px;
}

h1{
    color: orange;
    padding-top: 30px !important;
}

h2{
    color: #e3e380;
}