.info-div-header{
    width: 1500px;
    display: inline-block;
    text-align: center;

}
.white{
    color: #ffffff !important;
    border: 0;
    font-size: 20px;
}



.btn{
    border: 0 !important;
    border-radius: 0 !important;
}

.nav-color{
    background-color: #172970 !important;
}


header{
    position: fixed;
    width: 100%;
}
