

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;

}

body {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    background: linear-gradient(70deg, #FFEF6152 0%, transparent, #FFDF8E82 50%, #FF876BF5 100%), linear-gradient(160deg, transparent, #FFBA9170 35%, #FFA85C7D 35%, #9494945C 100%), radial-gradient(ellipse  at 30%  70%, #FCE97F 0%, #FFB592 100%);
}

.main{
    color: rgba(255, 255, 255, 0.75)
}

footer {
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
}

.white{
    color: aliceblue !important;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

footer {
    height: 100px;
    margin-top: auto;
    text-align: center;
    background-color: #172970 !important;
}



.link {
    text-align: center;
}

.main-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    width: 400px;
    height: 400px;
}


