
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;

}

body {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    background: linear-gradient(105deg, #987b4670 0%, #8f764885 20%, #87714a9a 40%, #7f6c4caf 60%, #7f6c4caf 80%, #987b4670 100%), linear-gradient(190deg, #66573D 0%, #D3C09D 25%, #A76B01 25%, #F0E0C3 30%, #D5B885 100%);
}

.main {
    color: rgb(255, 255, 255)
}

footer {
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
}


.white {
    color: aliceblue !important;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

footer {
    margin-top: auto;
    background-color: #172970 !important;
}

a {
    border: 0;
    text-decoration: none;
    font-size: 24px;
    color: aliceblue !important;
}

.link {
    text-align: center;
}

.main-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    width: 400px;
    height: 400px;
}

.created{
    color: #6d9f17;
    font-size: 16px;
}


